# Ignorar todo dentro de la carpeta MDK-ARM
/IDNG-10ES-Application/Project/Peripheral_Examples/root/MDK-ARM/*

# No ignorar archivos con extensión .uvprojx dentro de MDK-ARM
!/IDNG-10ES-Application/Project/Peripheral_Examples/root/MDK-ARM/**/*.uvprojx
!/IDNG-10ES-Application/Project/Peripheral_Examples/root/MDK-ARM/**/RTE/

/IDNG-10ES-Application/Project/Peripheral_Examples/root/MDK-ARM
